
.header-logo{
    height: 50px;
}
.flex-container{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-left: -800px;
 
}

.main-heading{
    padding: 10px;
       
}

.top-right-heading{
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding: 40px;   
    
}

.main-container-section{
    display: flex;
    padding: 40px;
    

}

.section1-image{
    height: 330px;
    width: 250px;
    padding: 30px;
}

.section2-image{
    height: 330px;
    width: 250px;
    padding: 30px;
    
}

.section3-image{

    height: 330px;
    width: 250px;
    padding: 30px;
}

.section4-image{

    
    height: 330px;
    width: 250px;
    padding: 30px;

}


#a{
    text-align: center;
}


#b{
    text-align: center;
}


#c{
    text-align: center;
}


#d{
    text-align: center;
}

.cart-image{
    height: 400px;
    padding: 50px;
}

.mid-container-section{
    display: flex;
    padding: 100px;
}

.cart-button{
    border: 4px solid grey;
    border-radius: 25px;
    background-color: pink;
}





